# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Continuous Testing

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**/README.md"
      - "**/CONTRIBUTING.md"
      - "**/CODE_OF_CONDUCT.md"
      - "**/SECURITY.md"
      - "**/.github/ISSUE_TEMPLATE/*"
      - "**/.github/PULL_REQUEST_TEMPLATE/*"
      - "**/LICENSE"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "**/README.md"
      - "**/CONTRIBUTING.md"
      - "**/CODE_OF_CONDUCT.md"
      - "**/SECURITY.md"
      - "**/.github/ISSUE_TEMPLATE/*"
      - "**/.github/PULL_REQUEST_TEMPLATE/*"
      - "**/LICENSE"

permissions:
  contents: read

jobs:
  continuous-testing:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install framework
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade setuptools
          pip install retry
          retry -- pip install flake8 pytest
          pip install .
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          python -m pytest
